<div id="left"></div>
<div id="right">
	<div class="tips">
		<h3>Need an account? </h3>
		<p> No worries, click <%= link_to 'here',signup_path%> to sign up.</p>
	</div>
</div>

<div id="center">
	<ul class ="form">
	<% form_tag session_path , :class => 'user_form' do -%>
	<li>
		<%= label_tag 'login' %>
		<%= text_field_tag 'login', @login %>
	</li>
	<li>
		<%= label_tag 'password' %>
		<%= password_field_tag 'password', nil %>
	</li>
	<li>
		<%= label_tag 'remember_me', 'Remember me' %>
		<%= check_box_tag 'remember_me', '1', @remember_me %>
	</li>
	<li>
		<%= submit_tag 'Log in' %>
	</li>
	<% end -%>
	</ul>	
</div>
