<div id="left">
	<% if @page.user == current_user %>
	<div class="navigation">
		<%= link_to "Create a new board.",new_board_url%>
	</div><!--end navigation-->
	<% end %>
</div><!--end left-->

<div id="right">
	
</div><!--end left-->

<div id="center">
	<% if @page.user == current_user %>
		<%= render :partial => 'users_boards',  :locals => {:page => @page}%>
		<%= render :partial => 'users_tallies', :locals => {:page => @page}%>
	<% else %>
		<%= render :partial => 'others_boards',  :locals => {:page => @page}%>
		<%= render :partial => 'others_tallies', :locals => {:page => @page}%>
	<% end %>
</div><!--end left-->