<div id="left">
	
</div><!--end left-->
<div id="right">
	
</div><!--end right-->
<div id="center">
	<h1> 
		<%= link_to "#{@board.user.login}", user_page_url(:user_name => @board.user.login)%> : 

		<%= link_to "#{@board.title}", user_board_url(	:user_name => @board.user.login, 
														:board_url => @board.url) %> :
		New subject
	</h1>
	<h2>{ <%= @board.description %> }</h2>
	<ul class="form">
	<% form_for([@board,@subject],	:url => { :board_url	=> @board.url,
											  :user_name	=> @board.user.login }, 
									:html => {:class => 'user_form'}) do |f| %>
	  <%= f.error_messages %>
		<li>
	    <%= f.label :title %>
	    <%= f.text_field :title %>
		</li>
		<li>
		<%= f.label "Inherit Permissions" %>
		<%= f.check_box :inherits %>
		</li>
		<li>
	    <%= f.submit "Create" %>
		</li>
	<% end %>
	</ul>
</div><!--end center-->

