<div id="left">
	
</div><!--end left-->
<div id="right">
	<div class="navigation">
		<h3>Grant User Permission</h3>
		<%= render :partial => 'users/search_for_user'%>
	</div><!--end navigation-->
</div><!--end right-->
<div id="center">
	<ul class="form">
	<% form_for([@board], 	
				:url  => {  :action => 'update',
							:user_name => @board.user.login,
						    :board_url => @board.url	},
				:html => {:class => 'user_form', :id => 'edit_board'}) do |f| %>
	  <%= f.error_messages %>
		<li>
	    <%= f.label :title %>
	    <%= f.text_field :title %>
		</li>
		<li>
	    <%= f.label :description %>
	    <%= f.text_field :description %>
		</li>

		<li>
	    <%= f.label :is_public %>
	    <%= f.check_box :is_public %>
		</li>
		<li>
	    <%= f.submit "Update" %>
		<li>
		<li class="cancel">
		<%= link_to "Cancel", user_board_url( :user_name => @board.user.login,
										      :board_url => @board.url)%>
		</li>
	<% end %>
	</ul>
</div><!--end center-->
