<div id="left">
	<div id="tb1" class="tool_box">
		<%= link_to "Back to your Boards", user_board_path %>
	</div><!--end tb1-->

	<div id="tb2" class="tool_box">			
	</div><!--end tb2-->
	
</div><!--end left-->

<div id="center">
	<div id="navigation">
		<% @nav_options << "#{ link_to @board.title, user_board_path }"%>
		<% @nav_options << ": edit"%>
		<%= render :partial => 'navigation', :locals => { :board => @board, :options => @nav_options }%>
	</div><!--end navigation-->
	
	<div id="main">
		<div id="edit_board">
			<h3><a href="#">Edit Title</a></h3>
			<%= render :partial	=>	'edit_board_title', :locals => { :board => @board} %>
			<h3><a href="#">Edit Permissions</a></h3>
			<%= render :partial => 'edit_board_permissions', :locals => { :board => @board } %>
			<h3><a href="#">Show permissions</a></h3>
			<%= render :partial => 'show_board_permissions', :locals => { :board => @board }%>	
		</div><!--end edit_board-->
	</div><!--end main-->
</div><!--end center-->

