<div id="left">
	<div class="navigation">
		<%= link_to 'Edit this board', edit_board_url( :user_name => @board.user.login,
													   :board_url => @board.url) %> 			

		<%= link_to "Add a subject",   new_subject_url() %>	

	</div><!--end navigation-->
</div><!--end left-->
  
<div id="right">
	<% if @board.is_public %>
		<p><a class="ast">*</a><h3 class="tips">This board is public</h3></p>
	<% else %>
		<p><a class="ast">*</a><h3 class="tips">This board is private</h3></p>
	<% end %>
</div><!--end right-->
<div id="center">
	<h1> 
		<%= link_to "#{@board.user.login}", user_page_url(:user_name => @board.user.login)%> : 
		<%=h @board.title %>
	</h1>
	<h2>{ <%= @board.description %> }</h2>
	<h3>Your Board Subjects </h3>
	<div id="subjects" class="page_object">
		<ul class="board_list">
			<% @board.subjects.each do |subject|%>
			<%= render :partial => '/subjects/subject_line', 
			           :locals => {  :board   => @board,
						             :subject => subject   }%>
			<% end %>
		</ul>
	</div><!--end boards-->
	
</div><!--end center-->
