<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Boards: <%= controller.action_name %></title>
	<!-- look in the application helper for get_css -->
	<% get_css.each do |tag|%>
		<%=	stylesheet_link_tag "#{tag}"%>
	<% end %>
	<% get_js.each do |tag|%>
		<%= javascript_include_tag tag %>
	<% end %>

</head>
<body>
	
	<div id="container">
		<div id="header">
			<%= render :partial => 'users/user_bar' %>
		</div>

		<div id="info_bar" >
			<%= flash[:notice]%>
			<%= flash[:warning]%>
		</div>
		<%= yield  %>
	</div>
	<div id="footer" style="text-align:center;"></div>
</body>
</html>
