<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>On the Board</title>
  <%= stylesheet_link_tag 'std' %>
  <%= stylesheet_link_tag 'form' %> 
 
  <%= javascript_include_tag :defaults %>

</head>
<body>
	<div id="header">
	</div>
	<!---->
	<div id="container">
		<div id="info_bar" style="display:none">
			<%= flash[:notice]%>
			<%= flash[:warning]%>
		</div>

		<%= yield  %>
	</div>
	<!---->
	<div id="footer" style="text-align:center;">
	</div>
</body>
</html>
